// font
$fontFamily: "Roboto", sans-serif;
$fontSize: 0.875rem;

// container
$minWidth: 340px;
$maxWidth: 1920px;
$maxWidthContainer: 1110px;
$headerMenuHeight: 50px;

// breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

//color
$darkColor: #333333;
$greenColor: #66c05d;
$grayColor: #efefef;
